$holisticonBlue : #1952a0;
$holisticonRed : #DE0027;
$holisticonGrey : #666666;
$holisticonLightGrey : #c1c3c6;
$holisticonLighterGrey : #8e9297;
$holisticonBlockquoteGrey : #666666;
$holisticonBlockquoteBackground : #e0e0e0;