aside.controls {
    display: none;
}

.reveal .slides section.title {

    background-position: 40px 0px;

    h1 {
          padding-top: 2em;
          margin-top: 0;
          margin-bottom: 2em;
    }
    .slide-background {
      background-position: 50% 90%!important;
    }
}
